html {
    overflow-x: hidden;
}

body {
    background-color: #be2239;
    font-family: Poppins;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100%;
}

button {
    position: relative;

    padding: 0.5vh 1.6vw 0.5vh 1.6vw;
    border: none;
    background-color: #ee7083;
    cursor: pointer;
    transition: box-shadow 100ms;
}

button:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
}

button:active {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.name {
    position: absolute;
    width: 100%;
    top: 15vw;
    left: 3vw;
    display: flex;
    flex-direction: column;

    z-index: 100;
}

.intro-buttons {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

a {
    text-decoration: none;
}

.icon-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6%;
}

.round {
    border-radius: 25px;
}

.button-menu {
    background-color: #ee7083;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vw;
}

.button-menu button {
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;
    font-size: 1.5vw;
}

.button-menu button.active {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: #be2239;
    font-size: 5vw;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow {
    animation: upDown 1.5s alternate infinite ease-in-out;
}

@keyframes upDown {
    to { transform: translatey(8px);}
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-color: #ffc0c8;
}

.container .yippee {
    position: absolute;
    right: 1vw;
    bottom: 2vw;

    z-index: 100;
}

.container .yippee img {
    height: 20vw;
}

.container .arrow {
    position: absolute;
    bottom: -2vh;
    z-index: 100;
}

.container .row {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.container .set {
    position: relative;
    display: flex;
}

.container .set div {
    width: 50;
    animation: animate 20s linear infinite;
    animation-duration: calc(600s / var(--i));
}

.container .set div img {
    height: 40vw;
}

.container .set div:nth-child(even) {
    animation: animate-inverse 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-200vh) translateX(-50vh) scale(0.2);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) translateX(calc(250vh / var(--i))) scale(0.6) rotate(180deg);
    }
}

@keyframes animate-inverse {
    0% {
        transform: translateY(-200vh) translateX(-50vh) scale(0.2);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) translateX(calc(250vh / var(--i))) scale(0.6) rotate(-180deg);
    }
}

.top-button {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    background-color: #be2239;
    color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 100vw;
    padding: 0;
    font-size: 3vw;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.418);
    opacity: 0;
    transition: opacity 500ms;
    z-index: 500;
}

.text-section {
    margin: 3vw;
    background-color: #be2239;
    color: white;
    font-size: 1.5vw;
    line-height: 2;
}

.right-image {
    display: flex;
    justify-content: space-between;
}

.doxx-container {
    position: relative;
}

.doxx-container .mask {
    position: absolute;
    top: -4vh;
    left: 1vw;
    transition: opacity 750ms;
    animation: wobble 4s infinite;

    cursor: pointer;
}

@keyframes wobble {
    0% {transform: rotate(-1deg) translateY(0.3vh);}
    50% {transform: rotate(2deg) translateY(-0.3vh);}
    100% {transform: rotate(-1deg) translateY(0.3vh);}
}

.doxx-container .mask img {
    height: 17.5vw;
}

.language-list {
    font-size: 6vw;
}

.carousel {
    margin-top: 2vw;

    position: relative;
    display: flex;
    overflow: hidden;
    gap: 1vw;
    width: 100%;

    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 10%,
    #fff 90%, transparent);
}

.carousel .display {
    white-space: nowrap;
    animation: scroll var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);

    display: flex;
    gap: 1vw;
}

.carousel div:nth-child(2) {
    animation: scroll2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

.carousel img {
    object-fit: contain;
    height: 20vw;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.project {
    display: flex;
    margin-bottom: 2vw;
    padding: 0;
    align-items: center;
}

.project img {
    width: 25vw;
    margin-right: 2vw;
}

.project p {
    margin-bottom: 1vw;
}

.tabcontent {
    display: none;
    animation: fadeEffect 1s;
}

.right-image img {
    height: 30vw;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Device sizing */

@media only screen and (orientation: portrait) {
    .name {
        top: 40vh;
        left: 3vw;
    }

    .container .arrow i {
        bottom: 20vh;
        font-size: 15vw;
    }

    button {
        padding: 0.5vh 3.6vw 0.5vh 3.6vw;
    }

    .button-menu {
        height: 25vw;
    }

    .button-menu button {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        font-size: 6vw;
    }

    .menu-icon {
        font-size: 10vw;
    }

    .project {
        flex-direction: column;
        padding-bottom: 8vw;
    }

    .project img {
        width: 100%;
        height: 100%;
    }

    .project i {
        font-size: 20vw;
    }

    .top-button {
        width: 11vw;
        height: 11vw;

        font-size: 9vw;
    }

    .container .yippee img {
        height: 35vw;
    }

    .right-image {
        gap: 5vw;
        flex-direction: column;
    }

    .right-image img {
        height: 80vw;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .doxx-container .mask {

        top: -3vh;
        left: 23%;
    }

    .doxx-container .mask img {
        height: 45vw;
    }
    

    .language-list {
        font-size: 10vw;
        text-align: center;
    }

    .carousel img {
        height: 40vw;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .name {
        left: 3vw;
    }

    .container .arrow i {
        bottom: 0vh;
        font-size: 8vw;
    }

    .button-menu button {
        font-size: 3vw;
    }

    .menu-icon {
        font-size: 6vw;
    }

    .project {
        flex-direction: column;
        padding-bottom: 8vw;
    }

    .project img {
        width: 100%;
        height: 100%;
    }

    .top-button {
        width: 7vw;
        height: 7vw;

        font-size: 5vw;
    }
}