.light {
    color: #ee7083;
    font-weight: 700;
    font-size: 3vw;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.highlight {
    color: #be2239;
    font-weight: 700;
    font-size: 5vw;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.button-text {
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
}

.text-section .title {
    color: white;
    font-weight: 700;
    font-size: 4vw;
}

.project .title,
.subsection .title {
    color: white;
    font-weight: 700;
    font-size: 2vw;
}

/* Device sizing */

@media only screen and (orientation: portrait) {
    .light {
        font-size: 12vw;
    }

    .highlight {
        font-size: 15vw;
    }

    .button-text {
        font-size: 5vw;
    }

    .text-section .title {
        font-size: 8vw;
    }

    .text-section p {
        font-size: 4vw;
    }

    .project .title,
    .subsection .title {
        font-size: 6vw;
    }

}

@media (min-width: 751px) and (max-width: 1000px) {
    .light {
        font-size: 6vw;
    }

    .highlight {
        font-size: 8vw;
    }

    .button-text {
        font-size: 2vw;
    }

    .text-section .title {
        font-size: 5vw;
    }

    .text-section p {
        font-size: 2.5vw;
    }

    .project .title,
    .subsection .title {
        font-size: 4vw;
    }
}